.contact-container{
    width: 100%;
    padding: 100px 15%;
}

.contactcard-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 65px;
}