.topcatagories{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

/* Styling category section */
.catagorysection{ 
    padding: 60px 16% 80px 16%;
}

.catagory-btn{
    display: block;
    margin: 50px auto 0px auto;
}