/* Stylin popular courses cards */
.pop-coursecard{
    position: relative;
    width: 30%;
    max-width: 400px;
    min-width: 250px;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--bs-white);
    box-shadow: 5px 5px 10px var(--bs-gray-100);
}

/* Styling course image section  */
.pop-courseimage{
    height: 200px;
    overflow: hidden;
}

.pop-courseimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s linear;
}

.pop-coursecard:hover .pop-courseimage img{
    transform: scale(1.1);
}

.pop-courseimage p{
    position:absolute;
    right: 20px;
    top: 5px;
    width: fit-content;
    height: 27px;
    padding: 0px 13px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: var(--bs-white);
    background-color: var(--bs-orange);
    z-index: 5;
}

/* Styling popular courses content section */
.pop-coursecontent{
    padding: 20px 30px 40px 30px;
    
}

.course-heading a{
    font-family: var(--bs-nunitofont);
    color: var(--bs-black);
}

.course-heading h3{
    margin-top: 0px;
    transition: color 0.3s linear;
}

.course-heading h3:hover{
    color: var(--bs-orange);
}

.course-heading p{
    margin-top: 0px;
}

.course-details{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-top: 1px solid var(--bs-gray-300);
    padding-top: 20px;
}

.course-details p{
    display: inline-block;
    width: fit-content;
    margin: 0%;
}

.course-details p i{
    color: var(--bs-orange);
    margin-right: 5px;
}